html {
    min-height: 100%;
    background-color: #557582;
}

body {
    height: 100%;
    background-color: transparent;
    font-size: 14px!important;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: Work Sans,Helvetica Neue,Helvetica,Arial,sans-serif!important;
    width: 100%;
}

h1 {
    font-weight: 700;
}


.navbar-laravel {
    background-color: #FFF;
    box-shadow: 0px 0px 9px 0px #d2d2d2;
}

.navbar-laravel .dropdown-menu a {
    color: #424242!important;
}

.nav-item-credit {
    vertical-align: middle;
    font-size: 25px;
    padding-right: 20px;
    font-weight: bold;
}

.clear {
    clear: both;
}

.navbar-laravel a {
    color: #424242!important;
}

.card {
    box-shadow: 0 0 20px 0 rgba(0,0,0,.08);
}

.lenka-bg .card {
    background-color: #FFF;
}

.container-center-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.my-container {
    max-width: 90%!important;
    margin-top: 25px;
}

.basic-content {
    padding: 20px;
    background: #FFF;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.08);
}

.basic-content-left {
    float: left;
    width: calc(68% - 40px);
}

.basic-content-right {
    float: right;
    width: 32%;
}



.list-group-item {
    padding: 5px 10px;
}

.list-group-item h5 {
    margin: 0px;
}

.list-group-item.active {
    background-color: #28334c;
    border-color: #28334c;
}

h5 {
    font-weight: 400;
}

.btn-primary {
    background-color: #18242f;
    border-color: #18242f;
}

.basic-filters {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.basic-filters li {
    float: left;
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.basic-filters li a {
    padding: 4px 10px;
    color: #000;
    text-decoration: none;
    border-radius: 3px;
}

.basic-filters li a:hover, .basic-filters li.active a {
    background: #000;
    color: #FFF;
}





.matchbettable td {
    padding: 5px;
    text-align: center;
}

.game_typeall {
    background-color: rgba(0,0,0,.1);
}

.game_type_title {
    background-color: lightblue;
    padding: 10px;
}

.game_type_title > span {
    float: right;
    background-color: lightskyblue;
    padding: 10px;
    font-weight: bold;
    margin: -10px -10px -10px -10px;
}

.dashboardul {
    margin-bottom: 20px;
}

.dashboardul li {
    padding: 0px;
}

.dashboardul li a {
    color: black!important;
    width: 100%;
    display: inline-block;
    padding: 5px 10px;
}

.marcingale-rounds-content .row {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.marcingale-round-wrapper {
}

.marcingale-detailed-wrapper {
    border: 1px solid #000000;
    border-bottom: 0px;
    padding: 10px 0px;
    cursor: pointer;
}

.marcingale-detailed-tickets {
    display: none;
    margin-bottom: 40px;
}

.marcingale-detailed-tickets .header {
    background: #000000;
    color: #FFF;
}

.marcingale-detailed-tickets > .row{
    padding: 8px 0px;
    border: 1px solid #000000;
    border-bottom: 0px;
}

.marcingale-detailed-tickets > .row:last-child {
    border-bottom: 1px solid #000000;
}

.marcingale-detailed-tickets .alert-success {
    background-color: rgba(195,230,203, .2);
}

.marcingale-detailed-tickets .alert-danger {
    background-color: rgba(248,215,218, .4);
}

.marcingale-detailed-tickets .alert-info {
    background-color: rgba(209,236,241, .3);
}

.app-background {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    /*background-color: #d7eefc;*/
    z-index: -1;
}

#app {
    padding-bottom: 40px;
}

.box-shadow {
    box-shadow: 0px 0px 5px 3px #efefef;
}


@media (min-width: 1200px) {

    .container-top {
        max-width: 60%!important;
    }

}

@media (max-width: 1200px) {

    .basic-content {
        width: 100%!important;
    }

    .basic-content-filters {
        margin-bottom: 40px;
    }

}