.navbar-laravel {
    background-color: rgba(0,0, 0, .6);
}

.navbar-laravel .dropdown-menu a {
    color: #000!important;
}

.lenka-bg {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center
}

.clear {
    clear: both;
}

.navbar-laravel a {
    color: #FFF!important;
}

.lenka-bg .card {
    background-color: rgba(255,255,255,.9);
}

.my-container {
    max-width: 90%!important;;
}

.basic-content {
    padding: 20px;
    background: rgba(255,255,255,.9);
}

.matchbettable td {
    padding: 5px;
    text-align: center;
}

.game_typeall {
    background-color: rgba(0,0,0,.1);
}

.game_type_title {
    background-color: lightblue;
    padding: 10px;
}

.game_type_title > span {
    float: right;
    background-color: lightskyblue;
    padding: 10px;
    font-weight: bold;
    margin: -10px -10px -10px -10px;
}

.dashboardul {
    margin-bottom: 20px;
}

.dashboardul li {
    padding: 0px;
}

.dashboardul li a {
    color: black!important;
    width: 100%;
    display: inline-block;
    padding: 5px 10px;
}